<%= form_with(model: preferece, local: true) do |form| %>
  <% if preferece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preferece.errors.count, "error") %> prohibited this preferece from being saved:</h2>

      <ul>
      <% preferece.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :preferece_type %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :preferece_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :preferece_description %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :preferece_latitude %>
  </div>

  <div class="field">
    <%= form.label :ongitude %>
    <%= form.text_field :longitude, id: :preferece_longitude %>
  </div>

  <div class="field">
    <%= form.label :zone %>
    <%= form.text_field :zone, id: :preferece_zone %>
  </div>

  <div class="field">
    <%= form.label :imgurl %>
    <%= form.text_field :imgurl, id: :preferece_imgurl %>
  </div>

  <div class="field">
    <%= form.label :search_id %>
    <%= form.text_field :search_id, id: :preferece_search_id %>
  </div>

 <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :preferece_address %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
