<div class="portfolio-modal modal fade" id="portfolioModal<%= place.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase"><%= place.name %></h2>
              <p class="item-intro text-muted"></p>
              <%= image_tag place.imgurl, class: 'img-fluid d-block mx-auto' %>
              <!-- <img class="img-fluid d-block mx-auto" src="assets/portfolio/06-full.jpg" alt=""> -->
              <p><%= place.description %></p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close Project</button>
                    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
          <div class="containde">
            <div style='width: 800px;'>
              <div id="map" style='width: 800px; height: 400px;'></div>
            </div>
          <script>
          function initMap(){
          handler = Gmaps.build('Google');
          handler.buildMap(
          { provider: {
          center:{ 
          lat: <%= place.latitude %>,
          lng: <%= place.longitude %>,
          },
          zoom: 16
          }, 
  internal: 
  {id: 'map'}
  } 
  );
};
</script>
<script src="//maps.google.com/maps/api/js?key=AIzaSyAXOmHI2fEhkqEz-uAGl5gFgwPAdI1iumA&callback=initMap" async defer></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<%= javascript_include_tag "application", 'data-turbolinks-track' => 'reload' %>



          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>