


<h1>Welcome to Blog's Guided You</h1>


<% @posts.each do |post| %>
  
    <h2><%= link_to post.title, post %></h2>
    <td><%= post.description %></td>
    <p><%= time_ago_in_words post.created_at  %> Ago</p>
    <p><%= truncate post.content  %></p>
    <% end %>
<p>
<%= link_to 'New Post', new_post_path %>
</p>




